:root {
  --background: #010101;
  --background-gradient: radial-gradient(circle at top left, #040405 0%, #010102 100%);
  --primary: #FFFFFF;
  --secondary: #A1A1AA;
  --accent: #01f19d;
  --highlight: #00d9f4;
  --highlight-background: #00d8f4;
  --highlight-text-light: #00d9f4;
  --text-dark: #FFFFFF;
  --text-dark-robot: #ffffff69;
  --text-dark-morphing: #FFFFFF;
  --text-light: #A1A1AA;
  --border-color: #c1c1c4;
  --glass-bg: rgba(255, 255, 255, 0.05);
  --glass-border: rgba(255, 255, 255, 0.1);
  --button-gradient: linear-gradient(90deg, #33BBCF 0%, #00E0FF 100%);
  --button-hover-gradient: linear-gradient(90deg, #09cc61 0%, #13b45c 100%);
  --text-gradient: linear-gradient(90deg, #00FF66 0%, #04a6bb 100%);
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

[data-theme="light"] {
  --background: #fdfdfd;
  --background-gradient: radial-gradient(circle at top left, #ffffff 0%, #ffffff 100%);
  --primary: #1f2937;
  --secondary: #6b7280;
  --accent: #0ad447;
  /* --accent: rgb(7, 192, 121); */
  --highlight: #00aff4;
  --highlight-background: #0092f4;
  --highlight-text-light: #004df4;
  --text-dark: #1b2430;
  --text-dark-robot: #1f293783;
  --text-dark-morphing: #1f2937;
  --text-light: #6b7280;
  --border-color: #6b7280;
  --glass-bg: rgba(0, 0, 0, 0.05);
  --glass-border: rgba(0, 0, 0, 0.1);
}

/* Estilos para View Transitions */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 999;
}

/* Soporte para navegadores que no soportan View Transitions */
@supports not (view-transition-name: root) {
  [data-theme="light"],
  [data-theme="dark"] {
    transition: all 0.3s ease-in-out;
  }
}